.list {
     font-family: 'Rock Salt', cursive;
     list-style: none;
     text-align: center;
}

.list__item {
     display: inline-block;
}

.list__item--link-block {
     color: mediumseagreen;
     display: block;
}

.header {
     font-family: 'Nothing You Could Do', cursive;
     text-align: center;
}

.header--size-huge {
     color: lightsalmon;
     font-size: 3rem;
}

.header--size-medium {
     color: lightskyblue;
     font-size: 2rem;
}

.content {
     font-family: 'Rock Salt', cursive;
     text-align: center;
}
